
@{
    ViewData["Title"] = "Index";
}
@using MVC_Prove.Models.ViewModel
@model ProductViewModel


<h2>Mela che pesa meno</h2>


@Model.PesoMin

<h1>Index</h1>

<div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
        <div class="pb-3">
            .col-md-8
        </div>
        <div class="row">
            <div class="col-md-6 themed-grid-col">.col-md-6</div>
            <div class="col-md-6 themed-grid-col">.col-md-6</div>
        </div>
    </div>
    <div class="col-md-4 themed-grid-col">.col-md-4</div>
</div>
